--- 
---

$white: white;
$black: #151515;
$gray: #555;

#navigation-hint {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0px 20px 15px 0px;

    img {
        filter: brightness(1.4);
    }
}

body,
#main-content,
#left-hand-side,
#right-hand-side {
    min-height: 100vh;
}

body {
    letter-spacing: 0.6px;

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        color: inherit;
        border-bottom: 2px dotted;
    }

    p {
        padding: 10px;
        line-height: 2;
        text-align: justify;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 10px;
        padding-top: 20px;
        letter-spacing: 3px;
    }

    header {
        padding-top: 20px;

        h1, h5 {
            padding: 5px;
        }

        #greeting {
            text-align: right;
        }

        .col {
            text-align: right;
        }
    }

    hr {
        opacity: .1;
        margin: 10px;
    }

    ul {
        margin: auto;
        padding: unset;
        list-style-type: none;
    }

    li {
        padding: 10px;
    }

    nav {
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;

        li {
            text-align: right;
        }
    }

    footer {
        font-size: 0.6em;
        text-align: center;
        color: $gray;
    }

    #left-hand-side,
    #right-hand-side {
        display: flex;
        align-items: center;
    }

    #left-hand-side {
        color: $white;
        background-color: $black;
    }

    #right-hand-side {
        color: $black;
        background-color: $white;
    }

    #left-hand-side-inner,
    #right-hand-side-inner {
        display: block;
        width: 100%;
        padding: 40px;
    }

    #main-content {
        margin: 0;

        .row { }
    }

    #description {
        text-align: justify;
    }

    .project-link {
        color: $white;
        background-color: $black;
        margin-right: 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    article {
        padding-top: 50px;

        blockquote, code, div, figure, p, pre {
            overflow-x: unset !important;
            margin: unset !important;
            box-sizing: unset !important;
            padding-right: unset !important;
            padding-left: unset !important;
        }
    }
}

@media only screen and (max-width: 767.98px) {
    #right-hand-side {
        min-width: 90vw;
        width: 100%;
    }

    #right-hand-side-inner {
        padding: 20px !important;
    }

    #navigation-hint {
        display: block;
    }
}
