---

---

$white: white;
$black: #151515;

#box-cookie-warning {
    height: auto;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    vertical-align: middle;
    color: black;
    background-color: #fbcd59;
}

#box-confirm-cookie {
    font-size: 10px;
}

#overview {
    width: 95%;

    li {
        padding: 2px;
    }
}

body, div {
    height: 100%;
}

body {
    letter-spacing: 0.5px;

    a {
        color: inherit;
        text-decoration: none;
    }

    p {
        padding: 10px;
        line-height: 2;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 10px;
        padding-top: 20px;
        letter-spacing: 3px;
    }

    header {
        padding-top: 20px;

        h1, h5 {
            padding: 5px;
        }

        .col {
            text-align: right;
        }
    }

    hr {
        opacity: .1;
        margin: 10px;
    }

    nav {
        padding-left: 50px;

        ul {
            list-style-type: none;
        }

        li {
            padding: 5px;
        }
    }

    footer {
        font-size: 0.8em;
        text-align: center;
    }

    #main-content {
        height: 100vh;
    }

    #greeting {
        text-align: right;
    }

    #left-hand-side,
    #right-hand-side {
        display: inline-block;
    }

    #left-hand-side {
        color: $white;
        background-color: $black;
    }

    #right-hand-side {
        color: $black;
        background-color: $white;
    }

    #main-content {
        margin: 0;
        width: 100%;
    }

    #description {
        text-align: justify;
    }
}

/*
body {
    margin: 0;
    color: $background;
    font-family: Verdana, Helvetica;

    li {
        margin: 10px;
    }

    a {
        color: #232323;
        text-decoration: none;
    }

    header {
        width: 100%;
        padding-top: 20px;
        background-color: $background;

        h1 {
            padding: 5px;
            padding-left: 50px;
            color: $foreground;
        }

        nav {
            padding: 5px;
            padding-left: 50px;

            a {
                margin-left: 10px;
                color: $foreground;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    main {
        margin-top: 40px;
        margin-bottom: 40px;

        section {
            width: 85%;
            margin: auto;
            line-height: 1.5;
        }

        p {
            padding: 10px;
            a {
                text-decoration: underline;
            }
        }

        aside {
            text-align: center;

            span {
                display: block;
                padding: 5px;
            }
        }

        pre code {
            display: block;
            padding: 5px;
            overflow-x: auto;
            background-color: #EFEFEF;
        }

        blockquote {
            padding: 5px;
            border-left: 5px solid #ffc14f;
            background-color: #F5F5AC;
        }

        img {
            max-width: 100%;
        }

        .tag {
            font-size: 10px;
            padding: 3px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: lightgray;
        }
    }

    footer {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 12px;
        text-align: center;
    }
} 

@media (min-width: 850px) { 
    body {
        margin: auto;
        width: 800px;
    }
}

@media (max-width: 500px) { 
    ul {
        margin: 0;
        margin-left: 10;
        padding: unset;
    }

    section {
        margin: 5px !important;
        width: 100% !important;
    }
}
*/
