--- 
---

@import "css/font";
/*
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Play:wght@700&family=Roboto:wght@300&display=swap');
*/

* {
    --eerie-black: #131313;
    --nickel: #747572;
    --white: #ffffff;
    --mantis: #6bbf59;
}

html {
    height: 100%;
    display: flex;
    flex-direction: row;

    font-size: 13pt;
}

body {
    color: var(--eerie-black);
    font-family: 'Roboto';

    margin: 0;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 90px;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Play';
    font-size: 25pt;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura';
}

p {
    font-size: 14pt;
    line-height: 1.7;
}

ul, ol {
    li {
        padding: 5px;
    }
}

#left > hr {
    color: var(--nickel);
}

#side-links {
    padding-left: 10px;
    list-style-type: none;
}

#side-links > li {
    padding: 10px;
}

#left {
    min-width: 300px;

    display: flex;
    flex-direction: row;
}

#right {
    display: flex;
    flex-grow: 1;

    overflow-y: auto;
}

#left-inner {
    color: var(--white);
    background-color: var(--eerie-black);
}

#left-triangle {
    z-index: 500;
    width: 70px;
    min-width: 100px;
    margin-left: -70px;
    transform: skewX(-2deg);

    background-color: var(--eerie-black);

    filter: drop-shadow(0 0 0.75rem gray);
}

#left-inner,
#right-inner {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-full #right-inner {
    display: unset !important;
}

#left-content {
    min-height: 200px;
    min-width: 200px;
    text-align: left;
    padding: 50px;
}

#right-content {
    max-width: 550px;
    text-align: justify;
}

.project-separator {
    padding: 30px;
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.project-link {
    color: var(--white);
    background-color: var(--eerie-black);
    margin-right: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

article {
    .article-info {
        color: gray;
    }

    div {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 990px) {
    body {
        flex-direction: column;
        overflow: auto;
    }

    #right {
        overflow-y: unset;
    }

    #left {
        flex-direction: column;
    }

    #left-triangle {
        width: 100%;
        min-height: 80px;
        margin-left: 0;
        transform: skewY(-2deg);
        margin-top: -30px;
    }

    #left-inner,
    #right-inner {
        flex: 1;
        padding: 20px;
    }

    .mode-full #right-inner {
        display: flex !important;
    }

    #right-content {
        flex: 1;
    }

    #right-content p {
        text-align: justify;
    }
}
