---
mode: center
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="utf-8" />
        <link rel="alternate" type="alternate/rss+xml" href="/feed.xml" />
        {% include stylesheet.html %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="{{ site.author }}" />
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="{{ site.keywords }}" />

        <!-- icons and themes -->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
        <link rel="manifest" href="/img/icon/site.webmanifest">
        <link rel="shortcut icon" href="/img/icon/favicon.ico">
        <meta name="theme-color" content="#131313">
    </head>
    <body>
        <div id="left">
            <div id="left-inner">
                <div id="left-content">
                    {% include left.html %}
                </div>
            </div>
            <div id="left-triangle"></div>
        </div>
        <div id="right"  class="mode-{{ layout.mode }}">
            <div id="right-inner">
                <main id="right-content">
                    {{ content }}
                </main>
            </div>
        </div>
    </body>
</html>
